
*{
  margin: 0;
  padding: 0;
  list-style: none;
}

html,body{
  height: 100%;
}


.container{
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  /* background-color: pink; */
  margin:0 auto;
  position: relative;
  padding-top:45px;
  padding-bottom: 55px;
  overflow: hidden;
}
/* 头部 */
.lt_header{
  height: 45px;
  width: 100%;
  background-color: #069;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.lt_header .icon_left,
.lt_header .icon_right{
  width: 45px;
  height: 45px;
 text-align: center;
  line-height: 45px;
  position: absolute;
  top:0;
  color:#fff;
}
.lt_header .icon_left{
  left: 0;
}
.lt_header .icon_right{
  right: 0;
}
.lt_header h4{
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin: 0;
  color:#fff;
}


/* 中间内容区域 */
.lt_content{
  width: 100%;
  height: 100%;
  position: relative;
}


/* 底部 */
.lt_footer{
  height: 55px;
  width: 100%;
  background-color: #069;
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 999;
}
.lt_footer li{
  float: left;
  width: 25%;
  height: 55px;
}
.lt_footer li a{
  display: block;
  width: 100%;
  text-align: center;
  padding-top:8px;
  color:#fff;
}
/* 添加now这个类 */
.lt_footer li.now a{
  color:darkorange;
}
.lt_footer li p{
  text-align: center;
  color:#fff;
}
.lt_footer li.now p{
  color:darkorange;
}